# Virtual Environment
/env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac custom attributes file (Desktop Service Store)
.DS_Store

# Instance Folder - used for configuration parameters
/instance

# sass files
sass/
gulpfile.js
node_modules/
package.json

/ssl_keys
/ssh_keys
*.txt
!requirements.txt
!/tests/*/*
/tmp
.cache/
/.travis/travis
# plots
project/static/img/*/*
